<div class="mcc-newsletter-band">
  <div class="mcc-newsletter-band__inner">
    <div class="mcc-newsletter-band__copy">
      <h2>{{ heading }}</h2>
      <p>{{ description }}</p>
    </div>
    <div class="mcc-newsletter-band__form">
      {{ form }}
    </div>
  </div>
</div>
