{#
  Footer Copyright Block Template
#}
<div id="block-mcctheme-footercopyright">
  <div class="mcc-footer-copyright">
    <p>© 2026 Mechanicsburg Christian Church · Est. 1840 · We Love People!</p>
    <p class="subtext">650 W. Horton Road, Kirklin, IN 46050 · (765) 325-2772</p>
  </div>
</div>
