{#
  MCC Theme Header Branding Block Override
#}
<a href="{{ home_url|default('/') }}" class="branding__link" rel="home">
  <div class="mcc-header-logo">
    <div class="mcc-header-logo__icon">
      <img src="/themes/custom/mcc_theme/images/logo-icon.svg" alt="MCC Emblem" width="34" height="41" class="mcc-header-logo__img" />
    </div>
    <div class="mcc-header-logo__text">
      <span class="mcc-header-logo__title">Mechanicsburg Christian Church</span>
      <span class="mcc-header-logo__tagline">“We Love People!” &middot; Est. 1840</span>
    </div>
  </div>
</a>
