{#
  Footer Church Info Block Template
#}
<div id="block-mcctheme-footerchurchinfo">
  <div class="mcc-footer-info">
    <h3>Mechanicsburg Christian Church</h3>
    <p class="mcc-tagline">We Love People!</p>
    <div class="mcc-contact-details">
      <p class="address">650 W. Horton Road, Kirklin, IN 46050</p>
      <p class="phone"><a href="tel:7653252772">(765) 325-2772</a></p>
      <p><a href="https://maps.google.com/?q=650+W+Horton+Rd+Kirklin+IN+46050" target="_blank" rel="noopener noreferrer" class="button--secondary">Get directions</a></p>
    </div>
  </div>
</div>
