{#
  MCC Theme Header Branding Block Override
#}
<a href="{{ home_url|default('/') }}" class="branding__link" rel="home">
  <div class="mcc-header-logo">
    <div class="mcc-header-logo__icon">
      <svg width="36" height="36" viewBox="0 0 24 24" fill="none" stroke="#1e4d2b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M12 2v20"/><path d="M17 7H7"/>
        <path d="M4 19.5v-15A2.5 2.5 0 0 1 6.5 2H20v20H6.5a2.5 2.5 0 0 1 0-5H20"/>
      </svg>
    </div>
    <div class="mcc-header-logo__text">
      <span class="mcc-header-logo__title">Mechanicsburg Christian Church</span>
      <span class="mcc-header-logo__tagline">“We Love People!” &middot; Est. 1840</span>
    </div>
  </div>
</a>
